body{
  height:3000px;
  font-family: Arial;
}
p{
  margin-top: 0;
  margin-bottom: 0;
}
.video-preview{
  width:280px;
  height: 500px;
}
.thumbnail-container{
position: relative;
display: inline-block;
}
.thumbnail-container .thumbnail{
  width:260px;
  height: 200px;
  position: relative;
  top: 10px;
  left: 8px;

}
.thumbnail-container .video-time{
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  bottom: -5px;
  right: -3px;
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 3px;
}
.video-info-container{
  margin-top: 25px;
  margin-left: 3px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture{
  margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
}
.channel-Info{
    font-size: 13px;
    color: gray;
    margin-top: 10px;
    line-height: 17px;
}